html {
	font-family: 'Roboto', sans-serif;
	width: 100%;
}

p {
	margin-top: 0px;
}

em {
	font-weight: bold;
	font-style: small;
	color: #f00;
}

textarea {
	width: 94%;
}
.contact {
	margin-left: 1.5rem;
}
	
.info {
	margin-left: 1.5rem;
}

.questionnaire {
	margin-left: 1.5rem;
}

.case {
	margin-left: 5rem;
}
#birthCountry {
	width: 24%;
}
#countryOrigin {
width: 20%;
}
input[type=submit] {
	width: 150px;
	padding: 10px;
}