html,
body {
	background-color: #39495a;
	font-family: 'Roboto', sans-serif;
}

p {
	margin-top: 0px;
}

em {
	font-weight: bold;
	font-style: small;
	color: #f00;
}

input {
	width: 20rem;
	height: 2.2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border: 1;
}


textarea {
	width: 94%;
	height: 7rem;
}

button {
	color: white;
}

.contact {
	margin-left: 1.5rem;
}

.info {
	margin-left: 1.5rem;
}

.questionnaire {
	margin-left: 1.5rem;
}

.caseName {
	margin-left: 6.2rem;
}

.case {
	margin-left: 5rem;
}

.phone {
	margin-left: 4.2rem;
}

.origin {
	margin-left: 6.4rem;
}

.mail {
	margin-left: 5.5rem;
}

.choixDiplome {
	margin-left: 7.7rem;
}

.url {
	margin-left: 4rem;
}

.badges {
	margin-left: 2.9rem;
}

.numberPE {
	margin-left: 2.3rem;
}

#radioOui {
	width: 2rem;
	height: 1.3rem;
}

#radioNon {
	width: 2rem;
	height: 1.3rem;
}

#birthCountry {
	width: 24%;
}

#countryOrigin {
	width: 20%;
}

input[type=submit] {
	width: 15rem;
	padding: 2rem;
}