html,
body {
    background-color: black;
}


.imgAccueil {
    width: 7rem;
    height: 7rem;
    margin: 1rem;
    margin-left: 2rem;
    
}

.imgCard {
    z-index: 1;
}

.logo {
    background-color: white;
    width: 40%;
}